@import 'tailwindcss';

:root {
  --primary: #3D06D7;
  --dark: #1E0E4C;
  --light-gray: #CFCADF;
}

input {
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  padding: 0 8px;
  color: var(--dark);
  outline: none;
}

input:focus {
  border-color: var(--primary);
}
